.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
.container--baseline {
  display: flex;
  align-items: baseline;
}

.footer__address {
  min-width: 231px;
  margin-right: 70px;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
  padding: 0;
}

.address {
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address__text {
  margin-bottom: 9px;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__link {
  color: var(--fourth-color);
}

.footer__invite {
  margin-right: 93px;
}

.footer__invite-title {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
