.gallery {
  padding-top: 0;
  padding-bottom: 94px;
}

.gallery__list {
  display: flex;
}

.gallery__item {
  position: relative;
}

.gallery__item:not(:last-child) {
  margin-right: 30px;
}

.gallery__title {
  height: 70px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;

  color: var(--second-color);
  background-color: rgba(47, 48, 58, 0.8);
}
