.contacts {
  display: flex;
  align-items: center;
}

.contacts__link {
  display: flex;
  align-items: center;

  padding-top: 32px;
  padding-bottom: 32px;

  @include font(
    500,
    var(--primary-fs),
    var(--primary-lh),
    0.02em,
    var(--third-color)
  );

  transition: color var(--duration) var(--cubic);

  &:hover,
  &:focus {
    color: var(--first-accent-color);
  }
}

.contacts__item:not(:last-child) {
  margin-right: 50px;
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}
